#!/usr/bin/env bash

function install_cli_app() {
  if ! command -v $1 &> /dev/null; then
    echo "Installing $1..."
    eval $2
  else
    echo "$1 already installed"
  fi
}

function install_brew() {
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> /home/vscode/.zshrc
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
}


# Commenting all this out for now, too much hassle
# Avoid error with older versions of git, with zdiff3 not being found
# export HOMEBREW_FORCE_BREWED_GIT=1
# install_cli_app "brew" "install_brew"
# install_cli_app "alt" "brew install uptech/oss/alt"

install_cli_app "gps" "cargo install gps"
install_cli_app "delta" "cargo install git-delta"

echo "Installing: dependencies with apt ********************"
sudo apt install -y ripgrep fd-find busybox universal-ctags

echo "Building ctags"
/workspaces/github/bin/build-ctags


